body {
    text-align: center;
    background-color: rgb(11, 11, 63);
}


header div {
    width: 65%;
    margin-left: 17.5%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(4, 88, 4);
    padding-bottom: 0px;
    margin-bottom: 40px;
}

header div h1 {
    margin-bottom: 5px;
}

section {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p {
    color: rgb(252, 243, 243);
    font-family: verdana;    
}

h1 {
    font-size: 48px;
    font-weight: normal;
    transition: color 0.25s linear;
}

h1:hover {
    color: red;
}

h3 {
    font-size: 42px;
    font-weight: 300;
    transition: font-size 0.25s linear, color 1s;
}

h3:hover {
    font-size: 48px;
    color: red;
}

.excursion-info h3 {
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.excursion-info p {
    color: gray;
    padding-top: 0px;
    padding-bottom: 10px
}

.excursion-link a{
    color: aquamarine;
    font-size: 16px;
}

footer {
    text-align: right;
}

footer p {
    color: gray;
}

.availability-info {
    padding-top: 50px;
    border-bottom: 2px solid rgb(110, 16, 16);
}

.excursion-image {
    padding-top: 25px;
}

.excursion-image img{
    width: 35%;
}

.excursion-video video {
    padding-bottom: 10px;
}
.excursion-video {
    border-bottom: 2px solid rgb(110, 16, 16);
}

a:hover {
    color: pink;
    transition-property: color;
    transition-duration: 0.25s;
}